{% extends 'base.html' %}

{% block content %}
  <div class="moderate-page">
    <h1>Модерация рецензий</h1>
    <div class="review-row">
      {% for review in reviews %}
        <div class="review">
          <h3>{{ review.book_title }}</h3>
          <p><b>Автор рецензии:</b> {{ review.first_name }}</p>
          <p><b>Дата добавления:</b> {{ review.added_date }}</p>
          <p><a class="upload-btn" href="{{ url_for('reviews.review', review_id=review.id) }}">Рассмотреть</a></p>
        </div>
      {% endfor %}
    </div>

    <div class="pagination">
      Выведены записи с {{ pagination.page * pagination.per_page - pagination.per_page + 1 }}
      по {{ pagination.page * pagination.per_page if pagination.page * pagination.per_page <= pagination.total else pagination.total }}
      из {{ pagination.total }}
      {{ pagination.links }}
    </div>
  </div>
{% endblock %}