<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <!-- Ваши стили и скрипты -->
</head>
<body>
    <nav>
        <!-- Верхняя горизонтальная полоса навигации -->
        <ul>
            <!-- Кнопки или текстовые ссылки для перехода по разделам -->
            <li><a href="/">Главная</a></li>
            <!-- Остальные разделы навигации -->
        </ul>

    </nav>

    <!-- Контент страницы -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Ваши скрипты -->
</body>
</html>