{% extends "base.html" %}

{% block content %}
    <h1>Страница книги</h1>

    <div class="book-details">
        <img src="{{ url_for('static', filename='covers/' + book.cover.filename) }}" alt="Обложка">
        <h2>{{ book.title }}</h2>
        <p>Автор: {{ book.author }}</p>
        <p>Издатель: {{ book.publisher }}</p>
        <p>Год: {{ book.year }}</p>
        <p>Количество страниц: {{ book.pages }}</p>
        <p>Описание: {{ book.description | safe }}</p>
        <p>Жанры: {% for genre in book.genres %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
        <p>Средняя оценка: {{ book.average_rating }}</p>
        <p>Количество рецензий: {{ book.reviews_count }}</p>
        <h3>Рецензии</h3>

        {% if current_user.is_authenticated and current_user.role_id in [1, 2, 3] %}
            {% if not user_review %}
                <a href="{{ url_for('reviews.add_review', book_id=book.id) }}" class="btn btn-primary">Написать рецензию</a>
            {% endif %}
        {% endif %}

        <ul class="reviews-list">
            {% if user_review %}
                <li>
                    <h3>Ваша рецензия</h3>
                    <p>Оценка: {{ user_review.rating }}</p>
                    <p>{{ user_review.text | safe }}</p>
                </li>
            {% endif %}
            {% for review in reviews %}
                {% if review != user_review %}
                    <li>
                        <p>Пользователь: {{ review.user_name }}</p>
                        <p>Оценка: {{ review.rating }}</p>
                        <p>{{ review.text | safe }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!-- Отображение flash-сообщений -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}